<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="ChannelAdam.Core" version="1.4.2" targetFramework="net461" />
  <package id="ChannelAdam.TestFramework" version="1.7.1" targetFramework="net461" />
  <package id="ChannelAdam.TestFramework.MSTest" version="1.2.0" targetFramework="net461" />
  <package id="DiffPlex" version="1.2.1" targetFramework="net461" />
  <package id="Moq" version="4.5.23" targetFramework="net461" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net461" />
  <package id="SpecFlow.MsTest" version="2.1.0" targetFramework="net461" />
  <package id="XMLUnit.Core" version="2.2.0" targetFramework="net461" />
</packages>